<html ng-app="visitorApp">
  <head>
    <title>Titan</title>
    <base href="/">
    <script src="angular.js"></script>
    <script src="angular-route.js"></script>
    <script src="angular-cookies.js"></script>
    <script src="visitorApp.js"></script>
    <script src="controllers.js"></script>
    <script src="directives.js"></script>
    <script src="services.js"></script>
    <script src="recurrence.js"></script>
    <script src="fbLogin.js"></script>
    <link rel="stylesheet" href="visitorStyle.css"></link>
  </head>
  <body>
    <div ng-view></div>
  </body>
</html>
