<html>
  <head>
    <title>Titan</title>
    <script src="jquery-1.11.3.js"></script>
    <script>
      $(document).ready(function() {
        $(".button").on("click", function(e) {
          $.ajax({
            method: "POST",
            data: {
              nameVisitor: $(".form").find("#nameV").val(),
              emailVisitor: $(".form").find("#emailV").val(),
              companyVisitor: $(".form").find("#companyV").val(),
              mobnumVisitor: $(".form").find("#mobnumV").val(),
            },
            url: "http://localhost:8080/signupVisitor"
          })
          .always(function(data) {
            console.log(data);
            $.get("signupvisitor.html", function(html) {
              $("form").find("h1").append(" - thank you for signing up!");
            });
            alert(data.accessToken  + "\nThank you for signing up!");
            localStorage.setItem("accessTokenVisitor",data.accessToken);
          });
        });
      });
    </script>
  </head>
  <body>
    <div class="form">
      <h1>Welcome to Titan</h1>
      <form action="/" method="post" id="form">
        <div class="field-wrap">
          <label>
            Visitor Name<span class="req">*</span>
          </label>
          <input type="text" required autocomplete="off" id="nameV"/>
        </div>

        <div class="field-wrap">
          <label>
            Email Address<span class="req">*</span>
          </label>
          <input type="email" required autocomplete="off" id="emailV"/>
        </div>

        <div class="field-wrap">
          <label>
            Company<span class="req">*</span>
          </label>
          <input type="text" required autocomplete="off" id="companyV"/>
        </div>

        <div class="field-wrap">
          <label>
            Mobile Number<span class="req">*</span>
          </label>
          <input type="text" required autocomplete="off" id="mobnumV"/>
        </div>

        <button class="button"/>Submit</button>
      </form>
    </div>
  </body>
</html> <!-- /form -->
