<div ng-show="selected">
  <p>{{directiveProps.monthStart}} {{settings.weekDates[0].getDate()}} - {{directiveProps.monthEnd}} {{settings.weekDates[6].getDate()}}, {{settings.year}}</p>
  <table>
    <tr class="head"><th></th><th ng-repeat="day in settings.daysOfWeek">{{settings.weekDates[$index].getDate()}} {{day}}</th></tr>
    <tr class="body" ng-repeat='row in directiveProps.rows'>
      <td>
        <a href="">
          {{row<10?"0" + row:row}}00
        </a>
      </td>
      <td ng-repeat='col in directiveProps.cols'>
        <div class="dailyEvents" ng-repeat="event in directiveProps.weeklyEvents[row][col] track by $index">
          <a href="">{{event==null?"":event}}</a>
        </div>
      </td>
    </tr>
  </table>
</div>
