    <div ng-controller="empSignupC as empSignup">
      <h1>Sign Up</h1>
      <div ng-repeat="field in empSignup.fields">
        <label>
          {{field.label}}<span class="req">*</span>
        </label>
        <input type="text" ng-model="field.id"/>
      </div>
      <button ng-click="empSignup.submit()">Submit</button>
    </div>

    <div ng-controller="empLoginC as empLogin">
      <h1>Login</h1>
      <div ng-repeat="field in empLogin.fields">
        <label>
          {{field.label}}<span class="req">*</span>
        </label>
        <input type="text" ng-model="field.id"/>
      </div>
      <p class="forgot"><a href="#" ng-click="empLogin.forgotPassword()">Forgot Password?</a></p>
      <button ng-click="empLogin.submit()"/>Log In</button>
    </div>
