<style>
*, *:before, *:after {
  box-sizing: border-box;
}
body{
  background: #847c78;
  font-family: "Courier 10 Pitch",serif;
}
.form{
  background: #4f0485;
  border-radius: 5px;
  box-shadow: 0 4px 10px 4px #4f0485;
  max-width: 800px;
  margin: 40px auto;
  padding: 40px;
  position: relative;
  top: 150px;
}
h1{
  text-align: center;
  color: #ffffff;
  font-weight: lighter;
  font-stretch: ultra-expanded;
}
.fields{
  display: block;
  width: 400px;
  margin: 30px auto;
  font-size: 20px;
  margin-bottom: 50px;
}
label{
  color: #ffffff;
  font-stretch: ultra-expanded;
}
label .req{
  color: #847c78;
}
input{
  float: right;
  background: #4f0485;
  border: 1px solid #a0b3b0;
  border-radius: 3px;
  width: 60%;
  height: inherit;
  padding: 5px;
  font-family: "Courier 10 Pitch",serif;
  color: #ffffff;
  font-size: 20px;
}
.button{
  border-radius: 4px;
  background: #847c78;
  text-align: center;
  width: 100%;
  height: 10%;
  border: 0;
  font-size: 30px;
  font-stretch: extra-expanded;
  color: #ffffff;
  font-family: inherit;
}
.button:hover{
  background: #6b6461;
}
a{
  color: #ffffff;
}
.forgot{
  float: right;
  font-family: inherit;
  font-size: 20px;
  padding: 0 180px 0 0;
  position: relative;
  bottom: 40px;
}
</style>

<div class="form">
<my-tabs>
  <my-pane title="Sign Up">
    <div ng-controller="signupController">
      <h1 id="signupH1">Sign Up</h1>
      <div class="fields" ng-repeat="field in fields">
        <label>
        {{field.label}}<span class="req">*</span>
        </label>
        <input type="{{field.type}}" ng-model="field.id"/>
      </div>
      <button class="button" ng-click="submit()">Submit</button>
    </div>
  </my-pane>

  <my-pane title="Login">
    <div ng-controller="loginController">
      <h1 id="loginH1">Login</h1>
      <div class="fields" ng-repeat="field in fields">
        <label>
          {{field.label}}<span class="req">*</span>
        </label>
        <input type="{{field.type}}" ng-model="field.id"/>
      </div>
      <p class="forgot"><a href="#" ng-click="forgotPassword()">Forgot Password?</a></p>
      <button class="button" ng-click="submit()"/>Log In</button>
    </div>
  </my-pane>
</my-tabs>
</div>
