  <style>
  .tab-group{
    list-style: none;
    margin: 0 0 40px 0;
    width: inherit;
    position: relative;
    right: 20px;
  }
  .tab-group:after {
    content: "";
    display: table;
    clear: both;
  }
  .tab-group li a {
    display: block;
    width: 50%;
    background: #5d009f;
    padding: 10px;
    text-align: center;
    float: left;
    color: #ffffff;
    border-radius: 3px;
    font-family: "Courier 10 Pitch",serif;
  }
  .tab-group li a:hover{
    background: #6b6461;
  }
  </style>
  <ul class="tab-group">
    <li ng-repeat="pane in panes" ng-class="{active: pane.selected}">
      <a href="" ng-click="select(pane)">{{pane.title}}</a>
    </li>
  </ul>
  <div class="tab-content" ng-transclude></div>
